@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Outfit:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
}

header {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imgss/bg-header-desktop.png);
    background-size: cover;
}

.intro {
    text-align: center;
    padding: 10px 0;
    width: 40%;
}

.guide {
    color: hsl(201, 11%, 66%);
}

.intro h2 {
    padding: 15px 0;
}

button.ios {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 2px 3px hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);
    border-radius: 20px;
    border: 0px;
    margin: 20px 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

button.mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 2px 3px hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
    border-radius: 20px;
    border: 0px;
    margin: 20px 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.one {
    text-align: center;
    width: 45%;
    margin: auto;
}

.one h2 {
    padding: 15px 0;
}

.one span {
    color: hsl(201, 11%, 66%);
}

.quiq {
    padding: 10px 0;
}

.two {
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(2, 1fr);
}

.two img {
    height: 100%;
    width: 80%;
}

.two .features div {
    margin-top: 40px;
    width: 65%;
}

.features h3 {
    padding: 15px 0;
}

.features span {
    color: hsl(201, 11%, 66%);
}

.three {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.three img {
    height: 100%;
    width: 80%;
    margin: auto;
}

.three div:first-child {
    padding: 70px 0;
    width: 64%;
    margin: auto;
}

.three h2 {
    padding: 15px 0;
}

.three span {
    color: hsl(201, 11%, 66%);
}

.four h3 {
    padding: 15px 0;
}

.four span {
    color: hsl(201, 11%, 66%);
    ;
}

.four .functions {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}

.four .functions div {
    width: 26%;
    margin: 0 30px;
}

.four .functions div img {
    margin: 10px 0 20px 0;
}

.four .companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 50px 30px;
}

.five {
    text-align: center;
    width: 46%;
    margin: auto;
}

.five h2 {
    padding: 15px 0;
}

.five span {
    color: hsl(201, 11%, 66%);
}

footer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    gap: 0.5em;
    padding-top: 5em;
}

.navigations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    font-size: 1.2em;
    align-self: start;
    text-align: start;
    gap: 0em;
}

.foot {
    padding: 0px 30px;
}

.social-link {
    width: 70%;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 5px 20px;
}

a {
    color: hsl(171, 66%, 44%);
}

footer p {
    text-align: center;
}

.footer {
    background-color: gray;
}